<main>
  <h1>{{title}}</h1>
  <table>
    @for (item of menu; track $index) {
      <tr [class.nostock]="item.soldOut" [class.veggie]="item.vegetarian">
        <td>{{item.category}}</td>
        <td>@if(item.vegetarian) {(V)}</td>
        <td>{{item.name}}</td>
        <td>${{item.price}}</td>
        <td><button [disabled]="item.soldOut" (click)="addItem(item)">Add</button></td>
      </tr>
    }
  </table>
  <p id="order-total">Order total: {{orderedItems}} item(s) &#64; ${{orderedTotal}}</p>
</main>